header h1{
    font-size: 32px;
    color:rgb(244, 243, 250);
    padding-bottom: 5px;
    text-align: center;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background:rgb(242, 239, 239);
    border-radius: 10px;
    text-align: center;
    left: 0;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 390px;
    height: 100%;
    background: linear-gradient(-45deg, #191618, #7bdef0);
    display: flex;
    flex-direction: column;
    padding: 20px 5px 0 20px;
    z-index: 100;
}
.scrollbox-inner,.scrollbox:hover {
    visibility: visible;
}
.scrollbox-inner{ 
    font-size: 16px;
    color: rgb(17, 16, 16);
}
.scrollbox{
    overflow: auto;
    padding-left: 10px;
    visibility: hidden;
}
.footer1 h1{
    font-size: 24px ;
    color:rgb(243, 243, 246);
    text-align: center;
}